.g-app-header {
  color: $white;
  background-color: $red;
  position: fixed;
  width: $device-width;
  margin: 0 auto;
  z-index: 11;
  @include transition(left);
}

body {
  &.drawer-open {
    .g-app-header,
    .g-footer {
      left: $device-width - 50;
    }
  }
}

.g-app-capital {
  padding: 13px 0;
  border-bottom: 1px solid #6d0710;
}

.g-app-hamburger {
  display: block;
  background-image: url($img + 'hamburger.png');
  background-size: 20px 15px;
  position: absolute;
  left: 15px;
  @include dim(20px, 15px);
}

.g-app-logo {
  margin: 0 auto;
  background-image: url($img + 'logo.png');
  background-size: 144px 20px;
  @include dim(144px, 20px);
}

.g-app-search {
  padding: 0 5px 6px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.g-app-search-title {
  margin: 0;
  white-space: nowrap;
}

.g-app-search-input {
  display: block;
  width: 100%;
  border: 0;
  background: $white;
  padding: 10px 0;
  @include round(4px);
  text-align: center;
  font-size: 13px;
}

.g-app-tabs {
  @include group;
  font-size: 15px;
  line-height: 44px;
  border-bottom: 1px solid $red;
  text-align: center;
  margin-bottom: -6px;

  li {
    display: inline;
  }

  a {
    display: inline;
    padding: 10px 7px;

    &.active {
      border-bottom: 3px solid $red;
    }
  }
}

.g-app-content {
  padding-top: 122px;
}

.g-app-drawer {
  @include device-size;
  position: fixed;
  left: 50%;
  margin-left: -#{$device-width/2};
  top: 0;
  z-index: 9;
}

.g-app-drawer-content {
  height: 548px;
  background-image: url($img + 'drawer.jpg');
  background-size: 269px, 548px;

  a {
    $height: 44px;
    position: absolute;
    display: block;
    height: $height;
    width: 100%;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        top: 289px + ($i - 1)*$height;
      }
    }
  }
}
