.ui-btn {
  font-size: 16px;
  color: $white;
  background-color: $blue;
  @include box-shadow(0, 1px, 1px, rgba($black, 0.2));
  padding: $ui-btn-padding;
  text-align: center;
  @include round(5px);
}

.ui-btn-bottom {
  @extend .ui-btn;
  background-color: $purple;
  color: $white;
  display: block;
}

.ui-btn-bottom-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba($white, 0.8);

}
