.ui-btn {
  font-size: 16px;
  color: $white;
  background-color: $blue;
  @include box-shadow(0, 1px, 1px, rgba($black, 0.2));
  padding: $ui-btn-padding;
  text-align: center;
  @include round(5px);
}

.ui-btn-bottom {
  @extend .ui-btn;
  position: absolute;
  background-color: $purple;
  color: $white;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
