.m-genre-tiles {
  $space: 10px;
  margin-left: -#{$space};
  @include group;
  padding: 0 15px;

  &.checked {
    img {
      opacity: 0.2;
    }

    .checked {

      &:before {
        opacity: 1;
      }

      img {
        opacity: 1;
      }
    }
  }

  li {
    float: left;
    width: 50%;
    position: relative;
    height: 64px;

    &:before {
      $size: 26px;
      content: '';
      position: absolute;
      @include dim($size);
      top: 0;
      right: 0;
      margin: -#{$size/2};
      margin-right: 0;
      margin-bottom: 0;
      background-image: url('../img/check-blue.png');
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $white;
      @include round(50px);
      opacity: 0;
      @include transition(opacity);
      z-index: 10;
    }
  }

  .space {
    margin: $space;
    margin-top: 0;
    margin-right: 0;
    position: relative;
  }


  .name {
    position: absolute;
    color: #fff;
    bottom: $space*0.75;
    left: $space*0.75;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 100;
  }

  img {
    display: block;
    @include transition(opacity);
  }
}
