/* line 1, ../../compile/scss/common/_type.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 5, ../../compile/scss/common/_type.scss */
.t-h1 {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 30px;
}

/* line 12, ../../compile/scss/common/_type.scss */
.t-white {
  color: white;
}

/* line 1, ../../compile/scss/common/_layout.scss */
.l-wrapper {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  width: 320px;
  height: 470px;
  overflow-y: scroll;
  overflow: hidden;
}

/* line 1, ../../compile/scss/common/_base.scss */
html {
  height: 100%;
}

/* line 5, ../../compile/scss/common/_base.scss */
body {
  margin: 0;
  background-color: #900e1a;
  min-height: 100%;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

/* line 12, ../../compile/scss/common/_base.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 17, ../../compile/scss/common/_base.scss */
li {
  list-style: none;
  margin: 0;
}

/* line 22, ../../compile/scss/common/_base.scss */
img {
  max-width: 100%;
}

/* line 26, ../../compile/scss/common/_base.scss */
template {
  display: none;
}

/* line 30, ../../compile/scss/common/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1em;
  margin-top: 0;
}

/* line 36, ../../compile/scss/common/_base.scss */
p {
  margin-top: 0;
}

/* line 1, ../../compile/scss/common/_position.scss */
.p-relative {
  position: relative;
}

/* line 5, ../../compile/scss/common/_position.scss */
.p-right {
  float: right;
}

/* line 1, ../../compile/scss/common/_global.scss */
.g-app-header {
  color: white;
  background-color: #900e1a;
  position: absolute;
  left: 0;
  margin: 0 auto;
}

/* line 8, ../../compile/scss/common/_global.scss */
.g-app-capital {
  padding: 13px 0;
  border-bottom: 1px solid #6d0710;
}

/* line 13, ../../compile/scss/common/_global.scss */
.g-app-hamburger {
  display: block;
  background-image: url("../img/hamburger.png");
  background-size: 20px 15px;
  position: absolute;
  left: 15px;
  width: 20px;
  height: 15px;
}

/* line 22, ../../compile/scss/common/_global.scss */
.g-app-logo {
  margin: 0 auto;
  background-image: url("../img/logo.png");
  background-size: 144px 20px;
  width: 144px;
  height: 20px;
}

/* line 29, ../../compile/scss/common/_global.scss */
.g-app-search {
  padding: 0 5px 6px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

/* line 36, ../../compile/scss/common/_global.scss */
.g-app-search-title {
  margin: 0;
}

/* line 40, ../../compile/scss/common/_global.scss */
.g-app-search-input {
  display: block;
  width: 100%;
  border: 0;
  background: white;
  padding: 10px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
}

/* line 51, ../../compile/scss/common/_global.scss */
.g-app-tabs {
  min-height: 1px;
  font-size: 15px;
  line-height: 44px;
  border-bottom: 1px solid #900e1a;
  text-align: center;
}
/* line 10, ../../compile/scss/common/_mixins.scss */
.g-app-tabs:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
/* line 58, ../../compile/scss/common/_global.scss */
.g-app-tabs li {
  float: left;
}

/* line 63, ../../compile/scss/common/_global.scss */
.g-app-content {
  padding-top: 112px;
}

/* line 67, ../../compile/scss/common/_global.scss */
.g-app-drawer {
  width: 320px;
  height: 470px;
  overflow-y: scroll;
  position: fixed;
  left: 50%;
  margin-left: -160px;
  top: 0;
  z-index: 9;
}

/* line 76, ../../compile/scss/common/_global.scss */
.g-app-drawer-content {
  height: 548px;
  background-image: url("../img/drawer.jpg");
  background-size: 269px, 548px;
}
/* line 81, ../../compile/scss/common/_global.scss */
.g-app-drawer-content a {
  position: absolute;
  display: block;
  height: 44px;
  width: 100%;
}
/* line 89, ../../compile/scss/common/_global.scss */
.g-app-drawer-content a:nth-child(1) {
  top: 289px;
}
/* line 89, ../../compile/scss/common/_global.scss */
.g-app-drawer-content a:nth-child(2) {
  top: 333px;
}
/* line 89, ../../compile/scss/common/_global.scss */
.g-app-drawer-content a:nth-child(3) {
  top: 377px;
}
/* line 89, ../../compile/scss/common/_global.scss */
.g-app-drawer-content a:nth-child(4) {
  top: 421px;
}

/* line 1, ../../compile/scss/common/_ui.scss */
.ui-btn, .ui-btn-bottom {
  font-size: 16px;
  color: white;
  background-color: #00aef8;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 11, ../../compile/scss/common/_ui.scss */
.ui-btn-bottom {
  background-color: #62034b;
  color: white;
  display: block;
}

/* line 18, ../../compile/scss/common/_ui.scss */
.ui-btn-bottom-wrapper {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 1, ../../compile/scss/modules/_genres.scss */
.m-genre-tiles {
  margin-left: -10px;
  min-height: 1px;
  padding: 0 15px;
}
/* line 10, ../../compile/scss/common/_mixins.scss */
.m-genre-tiles:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
/* line 8, ../../compile/scss/modules/_genres.scss */
.m-genre-tiles.checked img {
  opacity: 0.2;
}
/* line 14, ../../compile/scss/modules/_genres.scss */
.m-genre-tiles.checked .checked:before {
  opacity: 1;
}
/* line 18, ../../compile/scss/modules/_genres.scss */
.m-genre-tiles.checked .checked img {
  opacity: 1;
}
/* line 24, ../../compile/scss/modules/_genres.scss */
.m-genre-tiles li {
  float: left;
  width: 50%;
  position: relative;
}
/* line 29, ../../compile/scss/modules/_genres.scss */
.m-genre-tiles li:before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  right: 0;
  margin: -13px;
  margin-right: 0;
  margin-bottom: 0;
  background-image: url("../img/check-blue.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  z-index: 10;
}
/* line 51, ../../compile/scss/modules/_genres.scss */
.m-genre-tiles .space {
  margin: 10px;
  margin-top: 0;
  margin-right: 0;
  position: relative;
}
/* line 59, ../../compile/scss/modules/_genres.scss */
.m-genre-tiles .name {
  position: absolute;
  color: #fff;
  bottom: 7.5px;
  left: 7.5px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 100;
}
/* line 69, ../../compile/scss/modules/_genres.scss */
.m-genre-tiles img {
  display: block;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

/* line 2, ../../compile/scss/modules/_stations.scss */
#m-station-rows li {
  display: table;
  padding: 10px 0;
  border-bottom: 1px solid #dbdbdb;
  min-height: 50px;
}
/* line 9, ../../compile/scss/modules/_stations.scss */
#m-station-rows .img-wrapper {
  display: table-cell;
  width: 60px;
  padding-right: 10px;
  vertical-align: middle;
}
/* line 16, ../../compile/scss/modules/_stations.scss */
#m-station-rows .text-wrapper {
  display: table-cell;
  width: 245px;
  vertical-align: middle;
}
/* line 22, ../../compile/scss/modules/_stations.scss */
#m-station-rows .name {
  font-size: 16px;
  margin-bottom: 0;
}
/* line 27, ../../compile/scss/modules/_stations.scss */
#m-station-rows .tagline {
  font-size: 12px;
  color: #a1a1a1;
  margin: 0;
}

/* line 1, ../../compile/scss/pages/_all.scss */
.p {
  z-index: 10;
  position: relative;
  height: 470px;
  -webkit-transition: margin-left 0.15s ease-in-out;
  -moz-transition: margin-left 0.15s ease-in-out;
  -o-transition: margin-left 0.15s ease-in-out;
  transition: margin-left 0.15s ease-in-out;
  -moz-box-shadow: -1px 0 5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: -1px 0 5px rgba(0, 0, 0, 0.35);
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.35);
  padding: 0 15px;
  overflow-y: scroll;
}
/* line 10, ../../compile/scss/pages/_all.scss */
.p.drawer-open {
  margin-left: 270px;
}

/* line 1, ../../compile/scss/pages/_genres.scss */
#p-genres {
  background-color: #900e1a;
  padding-top: 35px;
}

/* line 5, ../../compile/scss/pages/_genres.scss */
#p-genre-logo {
  margin: 0 auto 30px;
  display: block;
}

/* line 10, ../../compile/scss/pages/_genres.scss */
#p-genre-footer {
  position: fixed;
  z-index: 11;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.9);
}
/* line 19, ../../compile/scss/pages/_genres.scss */
#p-genre-footer .space {
  padding: 15px;
  min-height: 1px;
}
/* line 10, ../../compile/scss/common/_mixins.scss */
#p-genre-footer .space:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

/* line 25, ../../compile/scss/pages/_genres.scss */
.p-genre-footer-link {
  padding: 10px 0;
  float: left;
  display: block;
}

/* line 1, ../../compile/scss/pages/_stations.scss */
body.stations {
  background-color: white;
}

/* line 5, ../../compile/scss/pages/_stations.scss */
#p-stations {
  height: 100%;
  background-color: white;
}
