.p {
  z-index: 10;
  position: relative;
  @include device-size;
  @include transition(margin-left);
  @include box-shadow(-1px, 0, 5px, rgba($black, 0.35));

  &.drawer-open {
    margin-left: $device-width - 50;
  }
}
